@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  background-color: #FAFAFA;
  color: #050505;
  transition: background-color 0.3s, color 0.3s;
  /* Empêche le "pull-to-refresh" agressif sur mobile qui peut gêner l'app */
  overscroll-behavior-y: none;
}

/* PREVENT IOS ZOOM ON INPUT FOCUS */
@media screen and (max-width: 768px) {
  input, textarea, select {
    font-size: 16px !important; /* Taille min pour éviter le zoom iOS */
  }
}

/* Dark Mode Global Overrides - Soft Dark */
.dark body {
  background-color: #111827; /* Gray 900 */
  color: #F3F4F6; /* Gray 100 */
}

/* Markdown Styles */
.markdown-body h1 { font-size: 1.5rem; font-weight: 700; margin-bottom: 1rem; font-family: 'Space Grotesk'; }
.markdown-body h2 { font-size: 1.25rem; font-weight: 600; margin-top: 1rem; margin-bottom: 0.5rem; font-family: 'Space Grotesk'; }
.markdown-body p { margin-bottom: 0.75rem; line-height: 1.6; }
.markdown-body ul { list-style-type: disc; padding-left: 1.5rem; margin-bottom: 1rem; }
.markdown-body pre { background: #f3f4f6; padding: 1rem; border-radius: 0.5rem; overflow-x: auto; border: 1px solid #000; margin-bottom: 1rem; }
.markdown-body code { background: #f3f4f6; padding: 0.2rem 0.4rem; border-radius: 0.25rem; font-size: 0.9em; font-family: monospace; }
.markdown-body a { color: #581c87; font-weight: 800; text-decoration: underline; text-decoration-thickness: 2px; }

/* Markdown Dark Mode */
.dark .markdown-body pre { background: #1f2937; border-color: #4b5563; color: #fff; } /* Gray 800 background */
.dark .markdown-body code { background: #374151; color: #e5e7eb; }
.dark .markdown-body a { color: #d8b4fe; }

